html {
    height: 100%;
}

body {
    background: #fff;
    background-size: cover;
    height: calc(100vh - 124px);
    color: #555;
    font-family: 'Lato';
}

.bg-blue {
    background: #98c3c9;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

.header-container {
    padding-top: 64px;
}

.text-price {
    text-decoration: none !important;
}

.btn-search {
    color: #fff;
    background-color: #98c3c9;
    border-color: #98c3c9;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-outline-black {
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #98c3c9;
    box-shadow: 0 0 0 0;
}

.row-head {
    height: 44px;
}

.border-categories {
    border-style: hidden solid hidden hidden;
}

.card-img-top {
    height: 140px;
    width: auto;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (max-width: 500px) {
    .card-img-top {
        height: 70px;
        width: auto;
    }
}