<div class="container-fluid">
    <div class="row bg-black">
        <!-- Contact -->
        <div class="col-4">
            <a class="nav-link text-white link-footer" href="mailto:code.aquatics@gmail.com">
                
                <i class="fas fa-envelope-square fa-lg"></i>
                
            </a>
        </div>
        <!-- Social links -->
        <div class="col-8 text-end">
            <ul class="list-inline list-unstyled my-auto">
                <li class="list-inline-item">
                    <a class="nav-link text-white link-footer" href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-square fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link text-white link-footer" href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram-square fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link text-white link-footer" href="https://www.pinterest.com/" target="_blank">
                        <i class="fab fa-pinterest-square fa-lg"></i> 
                    </a>
                </li>
            </ul>
        </div>  
    </div>
</div>