{% extends "base.html" %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <h3 class="text-center mt-5 p-5">400 - Bad request</h3>

    <h4 class="text-center mt-3">Sorry, your request resulted in an error.</h4>
    <h4 class="text-center mt-3">Please <a href="{% url 'home' %}" class="">click here </a>to return home.</h4>

{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}