{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb2">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Product Management</h2>
                <h4 class="logo-font text-dark">Edit Product</h4>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-6 mt-3">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-1" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-end">
                        <a class="btn btn-outline-dark rounded-1" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark rounded-1" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}

